manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0%;
  font-weight: 300;
  font-family: Manrope;
}

.dark-mode {
  --ligth-color: #1f4129;
  --dark-color: #5c6962;
  --color: #ffff;
}

.ligth-mode {
  --ligth-color: #d9d9d9;
  --dark-color: #a6b5b5;
  --color: #000000;
}
body {
  color: var(--color);
}
header {
  background-color: var(--ligth-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 26px 0px 26px 0px;
}

h1 {
  display: flex;
}
h2 {
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  flex-flow: wrap;
}
.div-button-header {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  gap: 54px;
  height: 33px;
  margin-top: 7px;
}

.button-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 10px;
  font-size: 18px;
  gap: 4px;
  color: var(--color);
}
.button-header img {
  margin-right: 4px;
  width: 24px;
  height: 24px;
  color: var(--color);
}

.button-header h4 {
  margin: 0;
}

main {
  background-color: var(--dark-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: calc(100vh - 128px);
}
aside {
  background-color: var(--ligth-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column wrap;
  max-width: 500px;
  margin-top: 13px;
  padding: 13px;
  position: absolute;
  right: 0;
  height: 80dvh;
}

aside h3 {
  text-align: center;
  font-size: 36px;
}

aside h4 {
  font-size: 15px;
  margin: 14px 0px 0px 0px;
}

aside label {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 6px;
}

aside input {
  background: var(--dark-color);
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  color: var(--color);
}

.fondo-div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.select {
  font-size: 12px;
  border-radius: 4px;
  background: var(--dark-color);
  height: 27px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: none;
  width: 100%;
  color: var(--color);
}
.color {
  width: 100%;
}

.checkbox {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  align-items: center;
}
.div50 {
  display: flex;
  flex-flow: row nowrap;
  gap: 6px;
  width: 100%;
}
.range {
  margin: 0%;
}
.parrafo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.texto-button {
  background: var(--dark-color);
  border: none;
  border-radius: 4px;
  width: 27px;
  height: 27px;
  color: var(--color);
}

.texto-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contorno {
  font-size: 12px;
  display: flex;
  flex-flow: column wrap;
}
.contorno-opciones {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 4px;
}
.boton-contorno {
  background: var(--dark-color);
  border: none;
  border-radius: 4px;
  padding: 4px;
  margin-top: 4px;
  flex: 1;
}
.reestablecer {
  background: var(--dark-color);
  border: none;
  border-radius: 4px;
  padding: 6px;
  color: var(--color);
}

.main-green {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 10px;
  background: var(--ligth-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 650px;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.meme-img {
  height: 100%;
  width: 100%;
  margin: 10px 0px;
}

.button-descargar {
  margin-top: 15px;
  margin-bottom: 5%;
  display: inline-flex;
  padding: 11px 27px;
  flex-flow: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #2c9236;
  align-content: center;
  color: var(--ligth-color);
  font-size: 20px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--color);
}
::placeholder {
  color: var(--color);
}
.cerrar-button {
  display: none;
}
.invert-image {
  filter: invert(100%);
}
.hidden {
  display: none;
}

@media (max-width: 576px) {
  aside {
    height: 100%;
    width: 100%;
    display: none;
  }
  header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 0px 12px 0px;
  }

  h1 {
    font-size: 16px;
  }
  .div-button-header {
    gap: 24px;
    height: 18px;
    margin-top: 7px;
  }

  .button-header {
    margin-right: 10px;
    font-size: 10px;
  }
  .button-header img {
    margin-right: 4px;
    width: 18px;
    height: 18px;
  }
  main {
    height: calc(100vh - 80px);
  }
  aside h3 {
    font-size: 15px;
  }

  aside h4 {
    font-size: 10px;
    margin: 7px 0px 0px 0px;
  }

  aside label {
    font-size: 10px;
  }

  aside input {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
    border-radius: 4px;
  }

  .select {
    font-size: 8px;
    height: 15px;
  }

  .parrafo {
    font-size: 10px;
  }
  .texto-button {
    width: 15px;
    height: 15px;
  }

  .meme {
    padding: 20px 0px;
    border-radius: 8px;
    width: 350px;
    height: 60%;
  }

  .meme-img {
    margin: 0px 0px;
  }

  .button-descargar {
    font-size: 12px;
  }
  .cerrar-button {
    top: 10px;
    right: 10px;
  }
}
